.box-image-section{

    .box{

        background: darken($color-green, 10);
        padding: 90px 0px 70px;

        .box-text{
            font-size: 175%;
            color: white;
            line-height: 1.5;
            max-width: 600px;
            margin: auto;
            padding: 0px 20px;
        }

        .box-signature{
            color: white;
            font-style: italic;
            text-align: center;
            margin-top: 70px;
        }

    }

    .image{
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: -1px;
    }

    .image-container{
        position: relative;
        height: auto;
        background-color: darken($color-green, 20);

        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: darken($color-green, 20);
            opacity: 0;
            transition: opacity 500ms;
        }

        &.loading:before{
            opacity: 1;
        }

        .image-border{
            position: -webkit-sticky;
            position: sticky;
            bottom: -1px;
            left: 0;
            right: 0;
            background: lighten($color-green, 20);
            height: 16px;

            .image-cursor{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background: darken($color-green, 10);
            }
        }
    }

}
