$color-black: #292929;
$color-green: #699;

$max-width: 1080px;

$base-font: 'Lato' sans-serif;
$base-line-height: 1.5;

$base-font-size: 13px;
$base-font-size-480: 14px;
$base-font-size-640: 15px;
$base-font-size-768: 16px;
$base-font-size-960: 17px;
